:root{
  --primary-color: #AF8A22;
}

header {
  position: fixed;
  display: flex;
  top: 0px;
  width: 100vw;
  height: 100px;
  background-color: var(--primary-color);
  font-size: 28px;
  align-items: center;
  justify-content: center;
}
  

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  left: 400px;
  top: 40px;
}

main {
  padding-top: 100px;
  padding-bottom: 80px;
  height: 100vh;
  box-sizing: border-box;
}

li {
  display: inline;
  margin: 50px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: var(--primary-color);
  height: 80px;
}

#copyright {
  position: absolute;
  bottom: 35px;
  right: 35px;
}

a:link {
  color: #2285be;
  text-decoration: none;
}

a:visited {
  color: #6200c3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  text-decoration: underline;
}

a:active {
  color: #45bbff;
  text-decoration: none;
}

  