
.main-container {
    margin: 0 auto;
    padding: 0px;
    max-width: 900px;
}
  
.wager-input {
  width: 200px;
}

#betting {
  display: none;
}


ol li:hover::after{
  content: attr(data-blackjack-value);
  position: absolute;
  background-color: black;
  color: var(--primary-color);
  top: 150px;
  right: 10px;
  box-sizing: border-box;
  width: 60px;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid gray;
}



button:hover {
    background-color: white; /* Green */
    color: var(--primary-color);
}

button:hover::before {
    content: attr(data-user-hints);
    position: absolute;
    top: 400px;
    left: 20px;
    background-color: black;
    color: var(--primary-color);
    box-sizing: border-box;
    width: 220px;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid gray;
  }
  

p{
    font-family: 'Poppins', serif;
}


